@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --salmon: #fa8072;
  --medium-purple: #9370db;
  --lavender: #E6E6FA
}

.bg-hero {
  background-image: url('https://cdn.prod.website-files.com/639b3e775b326dcf7cea3e70/639b3e775b326d7eb5ea3efb_home-hero-bg.svg');
  background-size: cover;
  /* Adjust as needed */
  background-repeat: no-repeat;
  /* Adjust as needed */
  background-position: center;
  /* Adjust as needed */
}

.element {
  background-color: var(--lavender);
}

.custom-border {
  /* Define the gradient colors */
  --border-gradient: linear-gradient(to right, var(--salmon), var(--medium-purple));

  /* Apply the gradient border */
  border-image: var(--border-gradient);
  border-image-slice: 1;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}