@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --salmon: #fa8072;
  --medium-purple: #9370db;
  --lavender: #E6E6FA
}

html {
  scroll-behavior: smooth;
}

.bg-hero {
  background-image: url('https://cdn.prod.website-files.com/639b3e775b326dcf7cea3e70/639b3e775b326d7eb5ea3efb_home-hero-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.element {
  background-color: var(--lavender);
}

.custom-border {
  /* Define the gradient colors */
  --border-gradient: linear-gradient(to right, var(--salmon), var(--medium-purple));

  /* Apply the gradient border */
  border-image: var(--border-gradient);
  border-image-slice: 1;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* FinalPage */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-container {
  background: linear-gradient(114deg, #9f6eed, #fc907e, #9f6eed, #fc907e);

  background-size: 600% 600%;
  animation: gradient 20s ease infinite;
}